.bgImage {
    background: url(../../img/starmap.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
  .pack-card {
    margin: 5em 20em 0 20em;
  }
  .packed-card-title {
    font-size: 3em;
    padding: .5em;
  }
  .fade-btn {
    margin-top: 1em;
    border: none;
    /* width: 400px; */
    font-size: 3em;
    background-color: red;
  }
  .fade-btn:hover {
    background-color: #1D343C;
    color: red;
    border-color: red;
  }
  .transit-blurb {
    background-color: white;
    padding: 1em;
    margin: 5em 15em 0 15em;
    font-size: 2em;
  }
  .warning {
    margin-right: 1em;
  }
  .station-name {
    font-size: .8em;
    margin: 0;
  }
  .station-name:hover {
    cursor: pointer;
    color: red;
  }
  .station-id {
    font-size: .5em;
    margin: 0;
  }
  /* scrolling text */
  .example1 {
      height: 50px;	
      overflow: hidden;
      position: relative;
      background: white;
    }
    .example1 h3 {
    margin-top: 1em;
    font-size: 3.5em;
    color: red;
    position: absolute;
    width: 100%;
    height: 300%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: example1 15s linear infinite;
    -webkit-animation: example1 15s linear infinite;
    animation: example1 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes example1 {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }