.bgImage {
    background: url(../../img/starmap.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
.alien-carousel {
    width: 800px;

}
.main-home-container {
    display: flex;
    flex-direction: column;
    margin: 0 400px 0 500px;
}
