.bgImage {
    background: url(../../img/starmap.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
.alien-carousel {
    width: 800px;
}
.main-home-container {
    display: flex;
    flex-direction: column;
    margin: 0 80px 0 80px;
    justify-content: center;
    /* padding: 5em; */
    /* background-color: #1D343C; */
}
.welcome-blurb {
    color: white;
    padding: 20px;
}
.welcome-blurb-text {
    font-size: 50px;
}
.carousel-container {
    margin-left: 250px;
}
.welcome-container {
    background-color: #1D343C;
    opacity: 0.9;
    box-shadow: 10px 10px 5px black;
    margin: 2em 10em 2em 10em;
}
.orbit-home-icon {
    width: 100px;
}
.warning-blurb {
    font-size: 2em;
}
