.bgImage {
    background: url(../../img/starmap.jpg) no-repeat center center;
    background-size: 100% 100%;
    padding-bottom: 50%
  }
  .welcome-card-div {
    color: #FFFFFF;
    width: 700px;
    height: auto;
    padding: 50px;
    float: center;
  }
  .orbit-header-main {
    font-size: 5em;
    letter-spacing: .5em;
    color: #86C232;
  }
  .description-main {
    font-size: 1.5em;
    text-align: left;
    padding: 1.5px;
  }
  .heading-blurb-container {
    opacity: 2.0;
 }
 .landing-btn {
   margin: 1em;
   background-color: #86C232;
 }
 .welcome-card-div {
   display: inline-flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 8%;
   background-color: #474b4f;
   opacity: 0.9;
   box-shadow: 10px 10px 5px black;
 }
 .input-fields {
   margin: 4em;
 }
 .green-link {
   color: #86C232;
   font-size: 1.3em;
   padding-top: 2em;
 }
 .orbit-icon {
   width: 140px;
 }
 .login-form-group {
   padding: 1.0em;
 }
 .welcome-btn-container {
   padding-top: 1em;
 }
 .login-buttons {
   padding-top: 1em;
 }




 