.bgImage {
    background: url(../../img/starmap.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
.connect-main-container {
    padding-top: 3em;
    padding-bottom: 500px;
    color: #FFFFFF;
}
.main-btn {
    background-color: #86C232;
    color: #1D343C;
    border: none;
}
.main-btn:hover {
    background-color: #86C232;
    color:#ffffff;
}
.message-container {
    height: 750px;
    padding: 10px;
    margin: 0 60px 0 60px;
    overflow-y: scroll;
    background-color: #474b4f;
    opacity: 0.9;
    box-shadow: 10px 10px 5px black;
  }
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .other-user-card {
    width: 55%;
    height: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
    /* padding: 10px; */
    margin: 10px;
    background-color: #FFFFFF;
    color: #1D343C;
  }
  .active-user-card {
    width: 55%;
    height: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
    /* padding: 0 10px 0 10px; */
    margin: 10px;
    background-color: #FFFFFF;
    color: #1D343C;
  }
  .message-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 7em 0 7em;
  }
  .submit-btn {
    background-color: #86C232;
    color: #1D343C;
    border: none;  
  }
  .submit-btn:hover {
    background-color: #474b4f;
    color:#ffffff;
  }
  .submitMess {
    background-color: white;
    width: 55px;
    height: 35px;
    font-size: 12px;
    margin-top: 2px;
    margin-left: 5px;
  }
  .input-main {
    width:1000px;
    display: flex;
    margin-top: 15px;
    margin-left: 170px;
  }
  .other-message-body {
    font-size: 1.2em;
  }
  .active-message-body {
    font-size: 1.2em;
  }
  .connect-other-username {
    font-size: 1em;
    float: left;
    color: #1D343C;
    font-weight: bold;
    /* text-shadow: #86C232 2px 2px; */
  }
  .connect-active-username {
    font-size: 1em;
    float: right;
    color: #1D343C;
    font-weight: bold;
    /* text-shadow: #86C232 2px 2px; */
  }
  .delete-icon {
    width: 13px;
  }
  .delete-icon:hover {
    color: #86C232;
  }

  