.bgImage {
    background: url(../../img/starmap.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
.connect-main-container {
    padding-top: 3em;
    padding-bottom: 500px;
    color: #FFFFFF;
}
.main-btn {
    background-color: #86C232;
    color: #1D343C;
    border: none;
}
.main-btn:hover {
    background-color: #86C232;
    color:#ffffff;
}
.messageContainer {
    border: 1px solid lightgrey;
    width: 90%;
    height: 750px;
    margin-left: 20px;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 5px 5px 5px black;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .editInput {
    width: 80%
  }
  
  .chatHeader {
    margin: 20px 20px 16px 50px;
  }
  
  .userNameChat {
    font-size: 1.2rem;
    text-decoration: underline;
  }
  
  .cardBodyUser {
    border: 1px solid grey;
    width: 90%;
    height: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
    padding: 10px;
    margin: 10px;
    background-color: #dee2e6;
  }
  .cardBodyOther {
    border: 1px solid grey;
    width: 90%;
    height: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
    padding: 10px;
    margin: 10px;
    background-color: #007bffa2;
  }
  
  .messageSection {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: center;
  }
  
  .chatMessage {
    font-size: 1.1rem;
  }
  
  .btn {
    background-color: white;
  }
  .submitMess {
    background-color: white;
    width: 55px;
    height: 35px;
    font-size: 12px;
    margin-top: 2px;
    margin-left: 5px;
  }
  
  .inputDiv {
    width: 90%;
    display: flex;
    margin-top: 15px;
  }
  
  .chatInput {
    width: 90%;
    margin-left: 30px;
  }
  
  .messagesSection {
      width: 90%;
  }
  /* .messageInput {
      margin: 10px;
      display: flex;
      justify-content: center;
      width: 100%;
  } */
  /* .messageInput input {
      width: 900px;
  } */
  