.bgImage {
    background: url(../../img/starmap.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
.connect-main-container {
    padding-top: 3em;
    padding-bottom: 500px;
    color: #FFFFFF;
}
.main-btn {
    background-color: #86C232;
    color: #1D343C;
    border: none;
}
.main-btn:hover {
    background-color: #86C232;
    color:#ffffff;
}
.message-container {
    height: 750px;
    padding: 10px;
    margin: 0 60px 0 60px;
    overflow-y: scroll;
    background-color: #1D343C;
    opacity: 0.9;
    box-shadow: 10px 10px 5px black;
  }
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .editInput {
    width: 80%
  }
  
  .chatHeader {
    /* margin: 20px 20px 16px 50px; */
  }
 
  .other-user-card {
    width: 55%;
    height: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
    /* padding: 10px; */
    margin: 10px;
    background-color: #FFFFFF;
    color: #1D343C;
  }
  .active-user-card {
    width: 55%;
    height: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
    padding: 10px;
    margin: 10px;
    background-color: #FFFFFF;
    color: #1D343C;
  }
  
  .message-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 7em 0 7em;
  }
  
  .chatMessage {
    font-size: 1.1rem;
  }
  
  .btn {
    /* background-color: white; */
  }
  .submitMess {
    background-color: white;
    width: 55px;
    height: 35px;
    font-size: 12px;
    margin-top: 2px;
    margin-left: 5px;
  }
  
  .input-main {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .chatInput {
    width: 90%;
    margin-left: 30px;
  }

  .other-message-body {
    font-size: 1.5em;
  }
  .active-message-body {
    font-size: 1.5em;
  }
  .connect-other-username {
    font-size: 2em;
    float: left;
    color: #1D343C;
    font-weight: bold;
    text-shadow: #86C232 2px 2px;
  }
  .connect-active-username {
    font-size: 2em;
    float: right;
    color: #1D343C;
    font-weight: bold;
    text-shadow: #86C232 2px 2px;
  }
  