.bgImage {
    background: url(../../img/unsplash-stars.jpeg) no-repeat center center;
    background-size: 100% 100%;
    opacity: 1.0;
  }
.pack-main-container {
    display: flex;
    padding-top: 3em;
    padding-bottom: 180px;
}
.new-pack-div {
    width: 45%;
    margin: 5%;
    color: #FFFFFF;
}
.pack-blurb {
    font-size: 1.5em;
    padding-bottom: 3em;
}
.new-pack-inputgroup {
    display: flex;
    padding: 1em;
}
.pack-list-header {
    color: #ffffff;
}
.pack-title-header1 {
    background-color: #86C232;
    color: #1D343C;
    /* display: flex; */
}
.pack-item-div {
    margin: 5%;
}
.main-btn {
    background-color: #86C232;
    color: #1D343C;
    border: none;
}
.main-btn:hover {
    background-color: #474b4f;
    color:#ffffff;
}
.scrolling-pack-div {
    height: 700px;
    overflow-y: scroll;
}
.pack-icon {
    width: 15px;
    height: auto;
    margin-left: 10px;
}
.pack-icon:hover {
    cursor: pointer;
}
.pack-title-text {
    margin: 0;
}
.pack-icons-div {
    display: flex;
    justify-content: flex-end;
}
.pack-title-header2 {
    display: flex;
    justify-content: center;
}
