.bgImage {
    background: url(../../img/starmap.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
.item-main-container {
    padding-top: 3em;
    padding-right: 70px;
    padding-bottom: 800px;
    color: #FFFFFF;
}
.main-btn {
    margin-left: 1em;
    float: left;
    background-color: #86C232;
    color: #1D343C;
    border: none;
}
.category-header-container {
    display: flex;
    justify-content: space-around;
}
.category-header {
    flex-direction: row;
}
.new-item-container {
    display: inline;
}
.new-item-input {
    display: inline-flex;
    float: center;
    width: 50%;
}
.category-div-main {
    display: flex;
    justify-content: space-around;
    padding: 0 10em 0 10em;
}
.category-item-container {
    font-size: 1.5em;
    width: 250px;
    color: #1D343C;
    display: flex;
    flex-direction: column;
    margin: 0 1em 0 1em;
}
.category-drop-down {
width: 7em;
}
.new-item-btn {
    margin-left: 1em;
    margin-left: 1em;
    background-color: #86C232;
    color: #1D343C;
    border: none;
}
.quantity-pill {
    float: right;
    margin-left: .5em;
}
.item-header-quad {
    size: 6em;
}
.justify-content-between {
    width: 200;
    font-size: 1em;
}
.new-item-header {
    /* display: flex; */
    justify-content: space-around;
    justify-content: flex-start;
    padding: 1em;
}
.logo-main {
    width: 50px;
    height: auto;
    margin-right: 1em;
    margin-left: 3em;
}
.blurb-header {
    font-size: 3em;
}
.main-item-container {
    margin-top: 2em;
}
.delete-icon {
    padding-top: .2em;
    width: 8%;
    height: auto;
}
.delete-icon:hover {
    cursor: pointer;
}
.item-header-quad {
    font-size: 3em;
}
.item-grey-container {
    width: 1200px;
    height: 800px;
    display: inline-flex;
    flex-direction: column;
    background-color: #1D343C;
    opacity: 0.9;
    box-shadow: 10px 10px 5px black;
}
#packed-check-label {
    font-size: 1.5em;
    float: right;
    padding: .5em;
}
#packed-check:hover {
    cursor: pointer;
}
