.nav-bar-main {
    background-color: #86C232;
    height: 4em;
}
.nav-text {
    font-weight: bold;
    letter-spacing: .5em;
}
.nav-text-side {
    color: #1D343C;
    font-weight: bold;
    font-size: 1.5em;
}
#alert-nav {
color: red;
margin: 0;
}
#alert-nav:hover {
    color: #d30c0c;
}
.nav-logo {
    width: 110px;
}
.nav-text-side:hover {
    cursor: pointer;
}
